<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Words heal</h1>
    <form method="post" action="/Add"   enctype="multipart/form-data"style="margin-left:420px;margin-right:450px;  " >
        <div class="right">     
        <h1>Add Book</h1> 
        <br>  
Book Name: <br><input type="text" name="name" placeholder=" Product name" value ="Avocados">  <br>
Describe how you relate to this book: <br><input type="textarea" rows="4" cols="50" name="description" > </br>
Image<br><input type="file" name="file" > 
<button type = "submit">Add</button>
</div>
</form>
</html>
