<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Shared Space</h1>
    <div class="helpline"><h3>Help is just one call away!</h3>
    <button> <a href="/profile">Profile</a></button>
    </div>
    <button><a href="/viewBooks">Books</a></button>
    <button><a href="/viewPlaces">Places</a></button>
    <button><a href="/viewMusings">Musings</a></button>
    <button><a href="/viewMeditation">Meditation</a></button>
    </body>
    </html>